*{
		margin:0;
		padding:0;
}

h1{
	text-align:center;
	padding:10px;
	font-size:35px;
}

.contenido{
	padding-top: 80px;
}

.slider{
	width:52.1%;
	margin:auto;
	overflow:hidden;
}
	
.slider ul{
	display:flex;
	padding:0;
	width:400%;
	
	animation: cambio 20s infinite alternate;
	animation-timing-function: ease-oul;
}

.slider li{
	width:100%;
	list-style:none;
}

.slider img{
	width:100%;
}

@keyframes cambio{
	
	0%{margin-left:0%;}
	20%{margin-left:0%;}
	
	25%{margin-left:-100%;}
	45%{margin-left:-100%;}
	
	50%{margin-left:-200%;}
	70%{margin-left:-200%;}
	
	75%{margin-left:-300%;}
	100%{margin-left:-300%;}
}

body {
	background:#e6e6e6;
	margin:0;
	font-family:monospace;
}


header{
	background: rgba(0,0,0,0.9);
	width:100%;
	position:fixed;
	z-index:100;
}

header nav{
	
	overflow:hidden;
}

header nav ul{
	list-style:none;
}
	
header nav ul li{
	float:left;
	font-family: Arial, sans-serif;
	font-size: 16px;
	
}

header nav ul li a{
	padding:10px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover{
	background:#75ACEC;
}

.main, footer{
	width:90%;
	max-width:1000px;
	margin:20px auto;	
}

.main .articles{
	width:68.5%;
	margin-right:1.5%;
	float:left;
	blackground:#fff;
}

.main .articles article{
	padding:20px;
	background:#fff;
	margin-bottom:20px;
}



aside {
	width:30%;
	background:#ff8000;
	float:left;
	padding:20px;
	box-sizing:border-box;
}



.galeria{
	width:60%;
	margin: auto;
	list-style:none;
	padding: 20px;
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galeria li{
	margin: 5px;
}

.galeria img{
	width: 150px;
	height: 100px;
}

/*estilos del modal*/

.modal{
	visibility: hidden;
	opacity: 0;
}

.modal:target{
	padding-top:80px;
	visibility:visible;
	opacity: 1;
	transition: all 0.5s;
	position:fixed;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal h4{
	color: #fff;
	font-size: 30px;
	text-align:center;
	margin: 15px 0;
}

.imagen{
	width:100%;
	height:50%;
	
	display:flex;
	justify-content:center;
	align-items: center;
}

.imagen a{
	color:#fff;
	font-size: 40px;
	text-decoration:none;
	margin: 0 10px;
}

.imagen a:nth-child(2){
	margin:0;
	height:100%;
	flex-shrink: 2;
}

.imagen img{
	width:500px;
	height: 100%;
	max-width: 100%;
	border: 7px solid #fff;
	box-sizing: border-box;
}

.cerrar{
	display:block;
	background:#fff;
	width:25px;
	height:25px;
	margin: 15px auto;
	text-align:center;
	text-decoration:none;
	font-size:25px;
	color: #000;
	padding: 5px;
	border-radius: 50%;
	line-height: 25px;
}

.caja{
	width: 500px;
	height: 100px;
	background: #4A88F4;
	color:#fff;
	font-size:25px;
	text-align:center;
	padding:5px;
	border-radius:5px;
	
	position:relative;
	top: ;
	bottom: ;
	right: ;
	left: 700px;
}


footer{
	background:#000;
	color:#fff;
	clear:both;
	padding:10px 0px;
	text-align:center;
}

	
/*
h1 {
	font-size:50px;
	color:red;
	text-align:center;
}



h2{
		text-align:center;
}

.info{
	text-align:center;
}

b{
	color:#0000;
	text-decoration:none;
	background: #3BA7E1;
	color:#fff;
	padding: 10px 20px;
	margin:10px 20px;
	display: inline-block;
	box-shadow: 0px 5px 0px #1D64A6;
}

a:hover{
	box-shadow: 0px 2px 0px #000;
	background:#ccc;
}

a:active{
	box-shadow: none;
}

div{
	background:#0000;
	width:100%;
}

img {
	width:300px;
	height:auto;
	margin:auto;
	display:block;
	border-radius:5px;
	box-shadow:5px 5px 0px #000;
	border: 1px solid #000;
	padding: 5px; 
}

.menu{
	width:100%;
	list-style:none;
	background:#000;
	margin:0;
	padding:0;
}

.menu li{
	display: inline-block;
}

.menu li a{
	padding:10px 20px;
	display:inline-block;
	color:#fff;
}

.menu li a:hover{
	background:#ccc;
	color:#0;
}

/* comentario */

/* 

*  {
	margin:0;
	padding:0;
	color:red;
}


body {
	background:#000000;
	color:#fff;
}

a:hover{
	color:#0000;
	text-decoration:none;
	background:#fff;
	padding:10px 20px;
}

a:link {
	color:#0000;
	text-decoration:none;
}

a:active{
	color:#ff8000;
}

a:visited{
	color:#0000;
}


.barra {
	background:#ff8000;
	color:#fff;
	width:500px;
	padding: 5px;
	border:10px solid #000;
	display:inline-block;
}


/*